{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <h1> Find student </h1>
{% endblock %}

{% block main %}

    <div class="p-3 m-3">
        <form method='get'>

            {{ filter.form|crispy }}

          <input type="submit" class="btn btn-secondary" value="Search">
          <a href="{% url 'list' %}" class="btn btn-secondary">Reset</a>
        </form>
    </div>

    {% with students=filter.qs %}
        {% include 'includes/students-table.html' %}
    {% endwith %}
{% endblock %}


