{% extends 'base.html' %}

{% block title %}
    <h1> Find student </h1>
{% endblock %}

{% block main %}
    <form method='get'>
        {{ filter.form.as_p }}
      <input type="submit" value="Search">
    </form>

    {% for student in filter.qs %}
        <p>
            <a href="{% url 'update' student.id %}">UPDATE</a> <!-- reverse('update', args=[1])-->
            <a href=/students/delete/{{student.id}}>DELETE</a>
            {{ student }}
        </p>
    {% endfor %}

{% endblock %}


